@model CuaHangVHT.Data.BlogPost

@{
    ViewData["Title"] = Model?.Title ?? "Chi tiết bài viết";
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
}
<div style="margin-top:90px;" class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a   asp-controller="Home" asp-action="Index">Trang Chủ</a>
                </li>
                <li class="active"> <a asp-controller="BlogPosts" asp-action="Index"> Blog</a>  </li>
                <li class="active"> <a asp-controller="BlogPosts" asp-action="Details"> Xem Blog</a> </li>
            </ul>
        </div>
    </div>
</div>



<div class="blog-area pt-120 pb-120">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-12">
                <div class="blog-details-wrapper">
                    <div class="blog-details-top">
                        <div class="blog-details-img">
                            <img style="height:400px; object-fit:cover;"  alt="Background" src="~/assets/images/blog/@Model.ImageUrl">
                        </div>
                        <div class="blog-details-content">
                            <div class="blog-meta-2">
                                <div style="display:flex; align-items:center;">
                                    <div style="padding:5px;">
                                        <img style="width:30px; height:auto; object-fit:cover; border-radius:100%;" src="~/assets/customer/@Model.User.ImgAvater" />
                                    </div>
                                    <div style="display:flex; flex-direction:column; justify-content:center; ">
                                        <a style="color:#495057; font-weight:bolder">@Model.User.FullName </a>
                                        <span style="color:#495057; font-size:small; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">@Model.CreatedAt</span>
                                    </div>
                                </div>
                            </div>
                            <h1>@Model.Title</h1>
                            @Html.Raw(Model.Content)
                           
                        </div>
                    </div>
                  
                </div>
            </div>
            
        </div>
    </div>
</div>


@* <div class="container mt-5">
    <div class="blog-detail">
        
        <div class="mt-5 text-center">
            <a href="@Url.Action("Index", "Blog")" class="btn btn-secondary">Quay lại danh sách</a>
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Edit", "Blog", new { id = Model?.IdBlogPost })" class="btn btn-primary ms-2">Chỉnh sửa bài viết</a>
            }
        </div>
    </div>
</div> *@
